# Android snippets:

snippet textview
	 <TextView
	   android:id=""
	   android:text="@string/"
	   android:layout_width="wrap_content"
	   android:layout_height="wrap_content" 
		android:textColor="@android:color/"	
		android:padding=""
		android:layout_margin=""
		android:textSize=""
		android:textStyle=""
		android:textAlignment=""
		android:textIsSelectable="true"
	/>

snippet scroll
	<ScrollView>
		${1}
	</ScrollView>
	
	